.App {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
}

.Column--left {
    width: 88px;
}
.Column--middle {
    width: 600px;
	border-left: 1px solid rgb(67, 177, 244);
	border-right: 1px solid rgb(67, 177, 244);
	padding: 15px;
}
.Column--right {
    width: 350px;
}
